// Main Variables
$main-clr: #1785b8;
$sec-clr: #808080;
$light-dark-clr: #434449;
$whiteClr: #fff;
$main-light-clr: #1785b809;
$border-clr: #6ebbdf48;

/* SideNav styles */
.side-nav {
  width: 60px;
  background: #003f5a;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
  z-index: 1000;
  overflow: hidden;

  &.open {
    width: 200px;
  }

  .toggle-button {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 60px;
    cursor: pointer;
    transform: translateX(-10px);
    transition: transform 0.3s;

    .bar {
      background: #00c0db;
      width: 30px;
      height: 3px;
      margin: 3px 0;
      text-align: right;
      transition: transform 0.3s;
      
      &.bopen {
        .bar:nth-child(1) {
          transform: translateY(7px) rotate(45deg);
        }
        .bar:nth-child(2) {
          transform: scaleX(0);
        }
        .bar:nth-child(3) {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 40px 0;
    display: flex;
    flex-direction: column;

    li {
      margin: 10px 0;

      a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0 20px;
        transition: background 0.3s;

        .tooltip-text {
          font-size: 14px;
          color: #000;
          padding: 8px 12px;
          background: #fff;
          border: 1px solid #00c0db;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        i {
          color: #00c0db;
          border: 1px solid #00c0db;
          border-radius: 9px;
          padding: 7px;
          margin-right: 10px;
          font-size: 18px;
          transition: all 0.3s ease-in-out;

          &.rotate {
            transform: rotate(45deg);
          }
        }

        &:hover {
          i {
            color: #fff;
            transform: rotate(0);
          }
        }
      }
    }
  }
}



//* *** TopNav styles *** *//
/* Set global CSS variables for day and night mode */
:root {
  --background-color: white;
  --text-color: black;
}

/* TopNav styles */

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s; /* Add transitions for smooth day/night switch */
}

.left-section {
  display: flex;
  align-items: center;
}

.greeting {
  position: absolute;
  right: 170px;
  font-weight: 600;
  color: $main-clr;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;

  img {
    width: 200px;
  }
}

.buttons {
  display: flex;
  align-items: center;

  .day-night-button {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .logout-button {
    background: #F44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s;
  }
}

/* Night mode styles */
.top-nav.night {
  --background-color: black;
  --text-color: white;
  transition: background-color 0.3s, color 0.3s;
}

.night .day-night-button {
  background: #333;
}

.night .day-night-button:hover {
  background: #555;
}

.night .logout-button {
  background: #FF5722;
}

.night .logout-button:hover {
  background: #E64A19;
}
